OpsInsight.json
{
  "name": "OpsInsight_rag",
  "nodes": [
    {
      "parameters": {
        "content": "# Validación del JSON\nTODO",
        "height": 848,
        "width": 416,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        0
      ],
      "typeVersion": 1,
      "id": "c361e75d-ddd8-48b1-bcfa-bb36799a58f3",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Registro de Incidencias\nCSV y MySQL",
        "height": 848,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2512,
        0
      ],
      "typeVersion": 1,
      "id": "d0d9a4d2-854f-4410-8ec7-7578ed16929a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Análisis Documental\nJSON de incidencia + manual",
        "height": 848,
        "width": 1088,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1408,
        0
      ],
      "typeVersion": 1,
      "id": "5aba52db-0666-4cb8-afd8-b1c1b1e3cd83",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Dashboard\nTODO",
        "height": 848,
        "width": 416,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3088,
        0
      ],
      "typeVersion": 1,
      "id": "054879f4-0ede-4ff0-8808-3a52e91060fe",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Lectura del Disco Local\nLeer el manual",
        "height": 256,
        "width": 416,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        864
      ],
      "typeVersion": 1,
      "id": "34401b4f-2b9d-49c2-97fc-9fb966a60c5a",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "model": "qwen2.5:3b",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2160,
        448
      ],
      "id": "ddd100f6-2c00-487d-8fc6-d7473b3c9f20",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "LCUMVmjmDKC7SGgz",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1472,
        384
      ],
      "id": "370a8bce-2ef8-4eb7-8afd-b1c100406e75",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1472,
        688
      ],
      "id": "d65251a8-4008-4ff2-a684-fecee4583616",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "LCUMVmjmDKC7SGgz",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/manual_MetroPT3.md",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        112,
        944
      ],
      "id": "994a341f-4c72-4e2e-913b-a38ead2cb1a6",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1632,
        528
      ],
      "id": "8ac979ad-f802-4c31-b286-4057a94fb066",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a73a389e-9dce-4c98-a88f-e05c55fa1700",
              "name": "fecha",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "f46ef8fd-78fe-4fd3-a169-c816797d0732",
              "name": "maquina",
              "value": "={{ $('Edit Fields (demo)').item.json.maquina }}",
              "type": "string"
            },
            {
              "id": "b40b8c98-f5be-4210-929b-2451971f9369",
              "name": "operario",
              "value": "={{ $('Edit Fields (demo)').item.json.operario }}",
              "type": "string"
            },
            {
              "id": "6d0949aa-786d-4723-8f54-870c6660c1a4",
              "name": "descripcion",
              "value": "={{ $('Edit Fields (demo)').item.json.descripcion }}",
              "type": "string"
            },
            {
              "id": "25396225-eeb2-410b-840b-b80da20267f1",
              "name": "Solution_proposed",
              "value": "={{ $json.output.replace(/\\n/g, \" \") }}",
              "type": "string"
            },
            {
              "id": "28d2e364-be52-48a4-805e-d8d906709a0d",
              "name": "presiones_tp2",
              "value": "={{ $('Edit Fields (demo)').item.json.variables.presiones.tp2 }}",
              "type": "number"
            },
            {
              "id": "4e3baf25-1a04-48d5-b5ee-7377ae518c51",
              "name": "presiones_tp3",
              "value": "={{ $('Edit Fields (demo)').item.json.variables.presiones.tp3 }}",
              "type": "number"
            },
            {
              "id": "2fc4a386-63e1-4676-acb1-ad65b785d591",
              "name": "presiones_h1",
              "value": "={{ $('Edit Fields (demo)').item.json.variables.presiones.h1 }}",
              "type": "number"
            },
            {
              "id": "35ba6c8c-6fa2-4811-ac43-b10bb7bed5f2",
              "name": "presiones_dv",
              "value": "={{ $('Edit Fields (demo)').item.json.variables.presiones.dv }}",
              "type": "number"
            },
            {
              "id": "f55c7589-f06f-458b-aabe-e9d9d69e9678",
              "name": "presiones_r",
              "value": "={{ $('Edit Fields (demo)').item.json.variables.presiones.r }}",
              "type": "number"
            },
            {
              "id": "aff2bdf4-2c44-4b03-826c-ca812b7080c1",
              "name": "senales_electricas_comp",
              "value": "={{ $('Edit Fields (demo)').item.json.variables.senales_electricas.comp }}",
              "type": "number"
            },
            {
              "id": "eb0ec53e-65d3-4033-a274-e4e37c0b74cb",
              "name": "senales_electricas_dv_electric",
              "value": "={{ $('Edit Fields (demo)').item.json.variables.senales_electricas.dv_electric }}",
              "type": "number"
            },
            {
              "id": "72a8c96c-df86-4368-a996-6713f0c0322b",
              "name": "senales_electricas_towers",
              "value": "={{ $('Edit Fields (demo)').item.json.variables.senales_electricas.towers }}",
              "type": "number"
            },
            {
              "id": "919d5d03-558f-4440-acb3-c3d8a4d5e844",
              "name": "senales_electricas_mpg",
              "value": "={{ $('Edit Fields (demo)').item.json.variables.senales_electricas.mpg }}",
              "type": "number"
            },
            {
              "id": "a9a0e4eb-9160-4cc1-8d73-6522cc188fa8",
              "name": "senales_electricas_lps",
              "value": "={{ $('Edit Fields (demo)').item.json.variables.senales_electricas.lps }}",
              "type": "number"
            },
            {
              "id": "eea4dd3c-0866-45c8-8db8-fc6b0890f284",
              "name": "senales_electricas_pressure_switch",
              "value": "={{ $('Edit Fields (demo)').item.json.variables.senales_electricas.pressure_switch }}",
              "type": "number"
            },
            {
              "id": "26824e71-01eb-420e-a70d-244054c91b43",
              "name": "senales_electricas_oil_level",
              "value": "={{ $('Edit Fields (demo)').item.json.variables.senales_electricas.oil_level }}",
              "type": "number"
            },
            {
              "id": "ced817a1-62ec-4231-b747-098e6c2359fc",
              "name": "corriente_motor",
              "value": "={{ $('Edit Fields (demo)').item.json.variables.corriente_motor }}",
              "type": "number"
            },
            {
              "id": "c714eb13-d61d-4950-9cb1-89acdbb599e8",
              "name": "temperatura_aceite",
              "value": "={{ $('Edit Fields (demo)').item.json.variables.temperatura_aceite }}",
              "type": "number"
            },
            {
              "id": "921fad04-0f40-4542-a947-b74cad2f8e92",
              "name": "criticidad",
              "value": "={{ (($json.output.split(/clasificación/i).pop().match(/\\b(alta|media|baja)\\b/i) || [null, 'Baja'])[1]) }}",
              "type": "string"
            },
            {
              "id": "9e417f03-39a7-403c-ad5c-a29528cb3487",
              "name": "tiempo_reparacion",
              "value": "={{ parseInt(($json.output.split(/tiempo estimado/i).pop().match(/\\d+/)?.[0]) || 0) }}",
              "type": "string"
            },
            {
              "id": "0848c31b-b283-4f62-b273-f13603aa5fc6",
              "name": "coste_estimado",
              "value": "={{ parseInt(($json.output.split(/cost(e|o) estimado/i).pop().match(/\\d+/)?.[0]) || 0) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2544,
        128
      ],
      "id": "e57895ba-ec07-4c2f-9c9d-007a5cdac101",
      "name": "Prepare register"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2704,
        128
      ],
      "id": "2328f804-5bdc-4746-943a-18de04e42169",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/.n8n-files/historico_incidencias.csv",
        "options": {
          "append": true
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        2880,
        128
      ],
      "id": "572647a6-e30a-43e6-8f8a-5660ca3cff13",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "registro_incidencias",
          "mode": "list",
          "cachedResultName": "registro_incidencias"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "fecha",
              "value": "={{ $json.fecha }}"
            },
            {
              "column": "maquina",
              "value": "={{ $json.maquina }}"
            },
            {
              "column": "descripcion",
              "value": "={{ $json.descripcion }}"
            },
            {
              "column": "solucion_propuesta",
              "value": "={{ $json.Solution_proposed }}"
            },
            {
              "column": "presion_tp2",
              "value": "={{ $json.presiones_tp2 }}"
            },
            {
              "column": "presion_tp3",
              "value": "={{ $json.presiones_tp3 }}"
            },
            {
              "column": "nivel_h1",
              "value": "={{ $json.presiones_h1 }}"
            },
            {
              "column": "criticidad",
              "value": "={{ $json.criticidad }}"
            },
            {
              "column": "nivel_h1",
              "value": "={{ $json.presiones_h1 }}"
            },
            {
              "column": "solucion_propuesta",
              "value": "={{ $json.Solution_proposed }}"
            },
            {
              "column": "operario",
              "value": "={{ $json.operario }}"
            },
            {
              "column": "tiempo_estimado",
              "value": "={{ $json.tiempo_reparacion }}"
            },
            {
              "column": "coste_estimado",
              "value": "={{ $json.coste_estimado }}"
            },
            {
              "column": "validacion_ok",
              "value": "={{ $('Validar incidencia').item.json._validacion.valido ? 1 : 0 }}"
            },
            {
              "column": "alertas_validacion",
              "value": "={{ JSON.stringify($('Validar incidencia').item.json._validacion.inconsistencias) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2704,
        304
      ],
      "id": "e69ecb9e-ebfc-4ad5-9bda-72a27c2cd19f",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "udeCICpoe6gcFOLx",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM registro_incidencias ORDER BY id DESC LIMIT 5;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2880,
        304
      ],
      "id": "502de5a8-4aef-46f8-90e5-e13809f471a6",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "udeCICpoe6gcFOLx",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        2144,
        592
      ],
      "id": "c9335222-0974-40d3-8fa0-9ed4735a18c7",
      "name": "Simple Vector Store2"
    },
    {
      "parameters": {
        "jsCode": "// Capturamos los datos que vienen del técnico\nconst fecha = $json.fecha;\nconst maquina = $json.maquina;\nconst operario = $json.operario;\nconst desc = $json.descripcion;\nconst presiones = $json.variables.presiones;\nconst temperatura = $json.variables.temperatura_aceite;\n\n// Construimos una única cadena de texto limpia (String)\nconst consultaLimpia = `El operario ${operario} reporta una incidencia en la máquina ${maquina} el día ${fecha}. \nDescripción del problema: \"${desc}\". \nEstado de la máquina: Presión TP2 de ${presiones.tp2} bar, TP3 de ${presiones.tp3} bar, H1 de ${presiones.h1} bar. Temperatura del aceite: ${temperatura}°C. \nPor favor, busca en el manual qué significa este comportamiento o ruido extraño con estas presiones.`;\n\n// Devolvemos el texto en una propiedad llamada \"query_texto\"\nreturn {\n  query_texto: consultaLimpia\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        128
      ],
      "id": "324ca0e4-ea48-4cdb-ba5e-0d83d3afdc29",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "description": "Useful for when you need to answer questions about the machine operation, errors, and manual (MetroPT3). Input must be a plain text search query. ",
        "topK": 2
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        2224,
        320
      ],
      "id": "db6296f0-0131-4c64-a1a8-8d3ed97740d4",
      "name": "buscador_manual"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analiza esta incidencia y busca la solución en el manual: {{ $json.query_texto }}",
        "options": {
          "systemMessage": "CRITICAL TECHNICAL INSTRUCTION: Whenever you call the 'buscador_manual' tool, the 'input' MUST be a single plain text string (e.g., \"ruido extraño presion tp2\"). You are strictly FORBIDDEN from passing a JSON object, braces {}, or multiple fields into the tool query. Extract the core symptom from the data and search using text only.\n\n---\n\nEres un experto en mantenimiento industrial especializado en la Unidad de Producción de Aire (APU) MetroPT3. Tu misión es diagnosticar incidencias utilizando exclusivamente la información del manual_MetroPT3.md.\n\nInstrucciones de Razonamiento:\n1. Analiza los valores de los sensores recibidos (presiones TP2, TP3, R, corriente del motor, etc.) y compáralos con las 'Condiciones de Operación Normales' del manual.\n2. Identifica si el problema coincide con algún escenario de la 'Guía de Resolución de Problemas' (usa la herramienta 'buscador_manual' para consultarlo usando solo texto).\n3. Determina la criticidad basándote en la seguridad: si hay riesgo de rotura o parada no programada, es Alta; si hay degradación, es Media; si es preventivo o leve, es Baja.\n4. Consulta la 'Matriz de Tiempos' para proponer una solución técnica y un tiempo estimado de intervención.\n\nFormato Obligatorio de Salida: Al final de todo el texto, es estrictamente obligatorio incluir estas tres líneas exactas y separadas: \nClasificación: [Alta/Media/Baja] \nTiempo Estimado: [X] horas \nCoste Estimado: [X] €"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2160,
        128
      ],
      "id": "5444e896-ea80-478e-860d-b6da258c41e9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1632,
        688
      ],
      "id": "fc5cc432-3daf-4afa-9f22-4134ebcf8185",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1744,
        384
      ],
      "id": "b4768b53-aaa6-4219-9ae4-9eafc6cb8ac3",
      "name": "Limit"
    },
    {
      "parameters": {
        "content": "# RAG",
        "height": 512,
        "width": 512,
        "color": "#021F03"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1424,
        320
      ],
      "typeVersion": 1,
      "id": "d3465d5a-bac4-4af2-bc34-a7ce82452011",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Análisis",
        "height": 656,
        "width": 528,
        "color": "#021F03"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1952,
        64
      ],
      "typeVersion": 1,
      "id": "3f09b4ff-7944-43ae-98f8-75f60d61c64a",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc1c60ba-48fd-48b9-9f6a-aed961e9d16f",
              "name": "texto_limpio",
              "value": "={{ $json.text.replace(/\\n/g, ' ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        368
      ],
      "id": "5d40d262-fdd3-4a99-b7b9-2211cf84ac73",
      "name": "Limpiar texto",
      "notesInFlow": false
    },
    {
      "parameters": {
        "content": "# Ingesta Documental",
        "height": 848,
        "width": 1072
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        0
      ],
      "typeVersion": 1,
      "id": "d10c6b22-1c0a-47e0-a522-a4d2d2269964",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Formulario online",
        "height": 224,
        "width": 400,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        64
      ],
      "typeVersion": 1,
      "id": "a3636b35-53da-4c10-9f8b-a62a41e847af",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## PDF con reporte digital\n",
        "height": 256,
        "width": 1040,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        304
      ],
      "typeVersion": 1,
      "id": "7f43ff94-56d7-4e9c-9a7d-8de05667d9c6",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "jsCode": "// Simplificar acceso al JSON (siempre habrá un único item)\nconst item = $input.first().json;\n\n// Función para convertir de checkboxes a booleanos\nfunction checkboxToBool(value)\n{\n  // [] => false, [\"\"] => true\n  if (Array.isArray(value))\n  {\n    return value.length > 0;\n  }\n  \n  return Boolean(value);\n}\n\n// Construir salida\nreturn {\n  \"fecha\": item[\"Fecha\"],\n  \"maquina\": item[\"Máquina problemática\"],\n  \"operario\": item[\"Nombre del operario\"],\n  \"descripcion\": item[\"Descripción del problema\"],\n\n  \"variables\": {\n    \"presiones\": {\n      \"tp2\": item[\"Presión del compresor (TP2)\"],\n      \"tp3\": item[\"Presión del panel neumático (TP3)\"],\n      \"h1\": item[\"Presión al descargar el filtro ciclónico (H1)\"],\n      \"dv\": item[\"Presión al descargar los secadores (DV)\"],\n      \"r\": item[\"Presión del depósito de aire (R)\"],\n    },\n\n    \"senales_electricas\": {\n      \"comp\": checkboxToBool(item[\"COMP\"]),\n      \"dv_electric\": checkboxToBool(item[\"DV Electric\"]),\n      \"towers\": checkboxToBool(item[\"TOWERS\"]),\n      \"mpg\": checkboxToBool(item[\"MPG\"]),\n      \"lps\": checkboxToBool(item[\"LPS\"]),\n      \"pressure_switch\": checkboxToBool(item[\"Pressure Switch\"]),\n      \"oil_level\": checkboxToBool(item[\"Oil Level\"]),\n    },\n\n    \"corriente_motor\": item[\"Corriente del motor (A)\"],\n    \"temperatura_aceite\": item[\"Temperatura del aceite (ºC)\"],\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        128
      ],
      "id": "9a200355-d370-4bcc-9500-6d7ebe5b2023",
      "name": "Encuesta -> JSON deseado1",
      "notesInFlow": false
    },
    {
      "parameters": {
        "formTitle": "Reporte de Incidencia",
        "formDescription": "Indicar las presiones en bares (bar), la corriente en amperios (A), la temperatura en grados centígrados (ºC). Para las señales eléctricas, marcar la casilla si está encendida y dejar sin marcar si está apagada.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Fecha",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Máquina problemática",
              "fieldType": "dropdown",
              "defaultValue": "MetroPT3",
              "fieldOptions": {
                "values": [
                  {
                    "option": "MetroPT3"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Nombre del operario",
              "requiredField": true
            },
            {
              "fieldLabel": "Descripción del problema",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Presión del compresor (TP2)",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Presión del panel neumático (TP3)",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Presión al descargar el filtro ciclónico (H1)",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Presión al descargar los secadores (DV)",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Presión del depósito de aire (R)",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "COMP",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            },
            {
              "fieldLabel": "DV Electric",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            },
            {
              "fieldLabel": "TOWERS",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            },
            {
              "fieldLabel": "MPG",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            },
            {
              "fieldLabel": "LPS",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            },
            {
              "fieldLabel": "Pressure Switch",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            },
            {
              "fieldLabel": "Oil Level",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            },
            {
              "fieldLabel": "Corriente del motor (A)",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Temperatura del aceite (ºC)",
              "fieldType": "number",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -48,
        128
      ],
      "id": "5d730144-45a9-4f13-8bd4-0ab716a87561",
      "name": "Formulario online1",
      "webhookId": "08c21a02-320d-4881-918e-b2b715cb9f7a",
      "notesInFlow": false
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "qwen2.5:3b",
          "mode": "list",
          "cachedResultName": "qwen2.5:3b"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un extractor de datos. Tu tarea es EXTRAER información del texto y devolver SOLO un JSON válido.\n\nREGLAS ESTRICTAS:\n- NO inventes información. Si un campo no aparece, deja valor vacío \"\" o -1 o false según corresponda\n- NO añadas texto explicativo ni comentarios\n- NO modifiques los nombres de los campos del JSON de ejemplo\n- NO modifiques la estructura del JSON de ejemplo\n\nEste es el JSON de ejemplo. Cambia únicamente los valores de sus campos:\n\n{\n    \"fecha\": \"\",\n    \"maquina\": \"\",\n    \"operario\": \"\",\n    \"descripcion\": \"\",\n    \"variables\":\n    {\n        \"presiones\":\n        {\n            \"tp2\": 0,\n            \"tp3\": 0,\n            \"h1\": 0,\n            \"dv\": 0,\n            \"r\": 0\n        },\n        \"senales_electricas\":\n        {\n            \"comp\": false,\n            \"dv_electric\": false,\n            \"towers\": false,\n            \"mpg\": false,\n            \"lps\": false,\n            \"pressure_switch\": false,\n            \"oil_level\": false\n        },\n        \"corriente_motor\": 0,\n        \"temperatura_aceite\": 0\n    }\n}\n\nEl texto del que debes extraer los datos es el siguiente:\n\n{{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        432,
        368
      ],
      "id": "7b9bbc55-d510-4cf8-804a-70d82d38cc43",
      "name": "Generar JSON a partir del texto1",
      "notesInFlow": false,
      "credentials": {
        "ollamaApi": {
          "id": "LCUMVmjmDKC7SGgz",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Foto con reporte manuscrito",
        "height": 256,
        "width": 592,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        576
      ],
      "typeVersion": 1,
      "id": "68821107-6915-4888-b89e-302e29e31a09",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "formTitle": "Reportar una Incidencia con un PDF",
        "formDescription": "Formulario para reportar incidencias mediante reportes digitales en formato PDF.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Archivo PDF",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .PDF",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -48,
        368
      ],
      "id": "24319865-ede5-4efe-9769-a7a967103b5c",
      "name": "Ingesta de PDFs",
      "webhookId": "785c498e-35ed-431a-a3ec-9a7523de8e9a",
      "notesInFlow": false
    },
    {
      "parameters": {
        "formTitle": "Reportar una Incidencia con un Manuscrito",
        "formDescription": "Formulario para reportar incidencias mediante imágenes de reportes rellenados a mano.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Foto del reporte",
              "fieldType": "file",
              "acceptFileTypes": ".png, .PNG, .jpg, .JPG, .jpeg, .JPEG",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -48,
        640
      ],
      "id": "de5aa9b7-f419-4071-bad1-90047c4ea646",
      "name": "Ingesta de imágenes",
      "webhookId": "aa02092e-061f-451b-8ea1-954d4fd0f527",
      "notesInFlow": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ocr:8000/ocr",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "Foto_del_reporte"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        640
      ],
      "id": "9886e1cf-86df-418d-8c5d-3781779e9979",
      "name": "Ejecutar OCR"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Archivo_PDF",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        112,
        368
      ],
      "id": "54d2cb05-95ba-455b-b762-0a9ce1cb9441",
      "name": "Extraer texto del PDF"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// El LLM devuelve JSON como string dentro de \"content\"\nconst parsed = JSON.parse(item.content);\n\nreturn [\n  {\n    json: parsed\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        368
      ],
      "id": "e4f18de5-fff8-46c6-aa8e-75d017d1138f",
      "name": "Respuesta -> JSON deseado",
      "notesInFlow": false
    },
    {
      "parameters": {
        "jsCode": "const text = $json.text;\n\nreturn [{ json: { text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        640
      ],
      "id": "91d9490a-569e-499e-b3dc-e6005eb68776",
      "name": "Extraer texto del OCR"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ============================================================================\n// AUTOGENERADO por build-n8n.js — NO editar a mano.\n// Fuente de verdad: src/validacion/validador.js (cubierto por validador.test.js)\n// Pegar este contenido en un nodo \"Code\" de n8n (Run Once for Each Item).\n// ============================================================================\n// ===========================================================================\r\n// Validador de reportes de incidencia MetroPT-3 (OpsInsight)\r\n// ---------------------------------------------------------------------------\r\n// Función PURA, sin dependencias de n8n: recibe el JSON del reporte y devuelve\r\n// el resultado de la validación. El nodo Code de n8n solo la envuelve.\r\n//\r\n// Resultado:\r\n//   {\r\n//     valido: boolean,                 // false si hay errores estructurales\r\n//     errores: [{ campo, mensaje }],   // capa 1 - estructura/tipos/rangos\r\n//     inconsistencias: [               // capa 2 - coherencia con el manual\r\n//       { codigo, mensaje, severidad } // severidad: 'alta' | 'media' | 'baja'\r\n//     ]\r\n//   }\r\n//\r\n// Regla de diseño: si la validación ESTRUCTURAL falla, NO se evalúa la capa\r\n// semántica (no tiene sentido analizar la coherencia de datos malformados).\r\n// ===========================================================================\r\n\r\n// --- Umbrales configurables (justificados por el manual MetroPT-3) ---------\r\nconst UMBRALES = {\r\n  // Bajo carga (dv_electric=1), la presión DV debe ser ~0 bar.\r\n  DV_MAX_BAJO_CARGA: 0.5,\r\n  // R debe ser \"cercana\" a TP3. Tolerancia absoluta en bar.\r\n  R_TP3_TOLERANCIA: 1.5,\r\n  // LPS se enciende si la presión del depósito (R) cae por debajo de este valor.\r\n  PRESION_UMBRAL_LPS: 7,\r\n  // Corriente del motor: valores nominales y tolerancia para considerarla \"cercana\".\r\n  CORRIENTE_NOMINALES: [0, 4, 7, 9],\r\n  CORRIENTE_TOLERANCIA: 1.5,\r\n};\r\n\r\n// --- Esquema esperado del reporte ------------------------------------------\r\nconst PRESIONES = [\"tp2\", \"tp3\", \"h1\", \"dv\", \"r\"];\r\nconst SENALES = [\r\n  \"comp\",\r\n  \"dv_electric\",\r\n  \"towers\",\r\n  \"mpg\",\r\n  \"lps\",\r\n  \"pressure_switch\",\r\n  \"oil_level\",\r\n];\r\n\r\nconst esNumero = (v) => typeof v === \"number\" && Number.isFinite(v);\r\nconst esBinario = (v) => v === 0 || v === 1;\r\n\r\n// ---------------------------------------------------------------------------\r\n// CAPA 1 — Validación estructural\r\n// ---------------------------------------------------------------------------\r\nfunction validarEstructura(json) {\r\n  const errores = [];\r\n\r\n  if (json === null || typeof json !== \"object\" || Array.isArray(json)) {\r\n    errores.push({ campo: \"(raíz)\", mensaje: \"El reporte no es un objeto JSON válido.\" });\r\n    return errores;\r\n  }\r\n\r\n  // Campos de texto obligatorios\r\n  for (const campo of [\"fecha\", \"maquina\", \"operario\", \"descripcion\"]) {\r\n    if (typeof json[campo] !== \"string\" || json[campo].trim() === \"\") {\r\n      errores.push({ campo, mensaje: `El campo '${campo}' es obligatorio y debe ser texto no vacío.` });\r\n    }\r\n  }\r\n\r\n  // Bloque variables\r\n  const variables = json.variables;\r\n  if (variables === null || typeof variables !== \"object\" || Array.isArray(variables)) {\r\n    errores.push({ campo: \"variables\", mensaje: \"Falta el bloque 'variables' o no es un objeto.\" });\r\n    return errores; // sin variables no podemos validar lo de dentro\r\n  }\r\n\r\n  // Presiones\r\n  const presiones = variables.presiones;\r\n  if (presiones === null || typeof presiones !== \"object\" || Array.isArray(presiones)) {\r\n    errores.push({ campo: \"variables.presiones\", mensaje: \"Falta el bloque 'presiones' o no es un objeto.\" });\r\n  } else {\r\n    for (const p of PRESIONES) {\r\n      const v = presiones[p];\r\n      if (v === undefined) {\r\n        errores.push({ campo: `variables.presiones.${p}`, mensaje: `Falta la presión '${p}'.` });\r\n      } else if (!esNumero(v)) {\r\n        errores.push({ campo: `variables.presiones.${p}`, mensaje: `La presión '${p}' debe ser numérica.` });\r\n      } else if (v < 0) {\r\n        errores.push({ campo: `variables.presiones.${p}`, mensaje: `La presión '${p}' no puede ser negativa.` });\r\n      }\r\n    }\r\n  }\r\n\r\n  // Señales eléctricas\r\n  const senales = variables.senales_electricas;\r\n  if (senales === null || typeof senales !== \"object\" || Array.isArray(senales)) {\r\n    errores.push({ campo: \"variables.senales_electricas\", mensaje: \"Falta el bloque 'senales_electricas' o no es un objeto.\" });\r\n  } else {\r\n    for (const s of SENALES) {\r\n      const v = senales[s];\r\n      if (v === undefined) {\r\n        errores.push({ campo: `variables.senales_electricas.${s}`, mensaje: `Falta la señal '${s}'.` });\r\n      } else if (!esBinario(v)) {\r\n        errores.push({ campo: `variables.senales_electricas.${s}`, mensaje: `La señal '${s}' debe ser binaria (0 o 1).` });\r\n      }\r\n    }\r\n  }\r\n\r\n  // Corriente del motor\r\n  if (!esNumero(variables.corriente_motor)) {\r\n    errores.push({ campo: \"variables.corriente_motor\", mensaje: \"La corriente del motor debe ser numérica.\" });\r\n  } else if (variables.corriente_motor < 0) {\r\n    errores.push({ campo: \"variables.corriente_motor\", mensaje: \"La corriente del motor no puede ser negativa.\" });\r\n  }\r\n\r\n  // Temperatura del aceite\r\n  if (!esNumero(variables.temperatura_aceite)) {\r\n    errores.push({ campo: \"variables.temperatura_aceite\", mensaje: \"La temperatura del aceite debe ser numérica.\" });\r\n  }\r\n\r\n  return errores;\r\n}\r\n\r\n// ---------------------------------------------------------------------------\r\n// CAPA 2 — Validación semántica (coherencia con el manual)\r\n// ---------------------------------------------------------------------------\r\nfunction validarSemantica(json) {\r\n  const inconsistencias = [];\r\n  const { presiones, senales_electricas: s, corriente_motor } = json.variables;\r\n\r\n  // R1 — COMP (sin carga) y DV_Electric (bajo carga) no pueden estar ambas activas.\r\n  if (s.comp === 1 && s.dv_electric === 1) {\r\n    inconsistencias.push({\r\n      codigo: \"COMP_DV_ELECTRIC\",\r\n      mensaje: \"COMP (compresor sin carga/apagado) y DV_Electric (compresor bajo carga) están ambas activas; son estados mutuamente excluyentes.\",\r\n      severidad: \"media\",\r\n    });\r\n  }\r\n\r\n  // R2 — Bajo carga (dv_electric=1), la presión DV debe ser ~0 bar.\r\n  if (s.dv_electric === 1 && presiones.dv > UMBRALES.DV_MAX_BAJO_CARGA) {\r\n    inconsistencias.push({\r\n      codigo: \"DV_BAJO_CARGA\",\r\n      mensaje: `El compresor opera bajo carga (DV_Electric=1) pero la presión DV es ${presiones.dv} bar (debería ser ~0).`,\r\n      severidad: \"media\",\r\n    });\r\n  }\r\n\r\n  // R3 — R debe ser cercana a TP3 (presión del panel neumático).\r\n  if (Math.abs(presiones.r - presiones.tp3) > UMBRALES.R_TP3_TOLERANCIA) {\r\n    inconsistencias.push({\r\n      codigo: \"R_LEJOS_TP3\",\r\n      mensaje: `La presión del depósito R (${presiones.r} bar) difiere de TP3 (${presiones.tp3} bar) más de lo esperado; posible fuga o lectura errónea.`,\r\n      severidad: \"alta\",\r\n    });\r\n  }\r\n\r\n  // R4 — LPS coherente con la presión del depósito: LPS=1 ⟺ R < 7 bar.\r\n  const presionBaja = presiones.r < UMBRALES.PRESION_UMBRAL_LPS;\r\n  if (s.lps === 1 && !presionBaja) {\r\n    inconsistencias.push({\r\n      codigo: \"LPS_INCOHERENTE\",\r\n      mensaje: `LPS está encendida pero la presión R (${presiones.r} bar) no es inferior a ${UMBRALES.PRESION_UMBRAL_LPS} bar.`,\r\n      severidad: \"media\",\r\n    });\r\n  } else if (s.lps === 0 && presionBaja) {\r\n    inconsistencias.push({\r\n      codigo: \"LPS_INCOHERENTE\",\r\n      mensaje: `La presión R (${presiones.r} bar) es inferior a ${UMBRALES.PRESION_UMBRAL_LPS} bar pero LPS está apagada.`,\r\n      severidad: \"media\",\r\n    });\r\n  }\r\n\r\n  // R5 — Corriente del motor cercana a algún valor nominal {0,4,7,9}A.\r\n  const distancia = Math.min(\r\n    ...UMBRALES.CORRIENTE_NOMINALES.map((n) => Math.abs(corriente_motor - n))\r\n  );\r\n  if (distancia > UMBRALES.CORRIENTE_TOLERANCIA) {\r\n    inconsistencias.push({\r\n      codigo: \"CORRIENTE_FUERA_RANGO\",\r\n      mensaje: `La corriente del motor (${corriente_motor} A) está lejos de los valores nominales (0/4/7/9 A).`,\r\n      severidad: \"baja\",\r\n    });\r\n  }\r\n\r\n  return inconsistencias;\r\n}\r\n\r\n// ---------------------------------------------------------------------------\r\n// API pública\r\n// ---------------------------------------------------------------------------\r\nfunction validarIncidencia(json) {\r\n  const errores = validarEstructura(json);\r\n  if (errores.length > 0) {\r\n    return { valido: false, errores, inconsistencias: [] };\r\n  }\r\n  const inconsistencias = validarSemantica(json);\r\n  return { valido: true, errores: [], inconsistencias };\r\n}\r\n\n// ===========================================================================\n// Wrapper n8n — modo \"Run Once for Each Item\".\n// El reporte de incidencia llega en $json (igual que en el resto del workflow).\n// Devuelve el reporte intacto + el resultado de la validación en _validacion,\n// para que un nodo IF posterior pueda ramificar según _validacion.valido.\n// ===========================================================================\nconst _resultado = validarIncidencia($json);\nreturn {\n  ...$json,\n  _validacion: _resultado,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        128
      ],
      "id": "9dd520af-3580-49d3-b704-21cdbf5234a9",
      "name": "Validar incidencia"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "11aae295-897a-4076-87ad-d0701952372d",
              "leftValue": "={{ $json._validacion.valido }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1840,
        128
      ],
      "id": "eeaa392e-e328-4cb7-95e4-66c36925cf3a",
      "name": "¿Reporte válido?"
    },
    {
      "parameters": {
        "errorMessage": "=Reporte inválido — {{ $json._validacion.errores.map(e => e.campo + \": \" + e.mensaje).join(\" | \") }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1840,
        -32
      ],
      "id": "b77674a0-6675-4754-8e4d-0cc89f03632a",
      "name": "Reporte inválido"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        944
      ],
      "id": "d88a26b8-0019-41e9-9f8e-0ea0e51c87fd",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n    \"fecha\": \"2026-05-18\",\n    \"maquina\": \"MetroPT3\",\n    \"operario\": \"José Miguel Torres Cámara\",\n    \"descripcion\": \"La máquina está funcionando bajo carga sin problema, pero hace un ruido extraño.\",\n    \"variables\": {\n        \"presiones\": {\n            \"tp2\": 12.4,\n            \"tp3\": 10.9,\n            \"h1\": 3.6,\n            \"dv\": 0,\n            \"r\": 11.1\n        },\n        \"senales_electricas\": {\n            \"comp\": 0,\n            \"dv_electric\": 1,\n            \"towers\": 1,\n            \"mpg\": 0,\n            \"lps\": 0,\n            \"pressure_switch\": 0,\n            \"oil_level\": 0\n        },\n        \"corriente_motor\": 6.8,\n        \"temperatura_aceite\": 63\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        384
      ],
      "id": "f434b090-befc-4f4f-93d1-98e4036ba164",
      "name": "Edit Fields (demo)"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "buscador_manual",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Simple Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Prepare register": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "buscador_manual",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscador_manual": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Prepare register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields (demo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar texto": {
      "main": [
        [
          {
            "node": "Generar JSON a partir del texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formulario online1": {
      "main": [
        [
          {
            "node": "Encuesta -> JSON deseado1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar JSON a partir del texto1": {
      "main": [
        [
          {
            "node": "Respuesta -> JSON deseado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encuesta -> JSON deseado1": {
      "main": [
        [
          {
            "node": "Validar incidencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingesta de PDFs": {
      "main": [
        [
          {
            "node": "Extraer texto del PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingesta de imágenes": {
      "main": [
        [
          {
            "node": "Ejecutar OCR",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar OCR": {
      "main": [
        [
          {
            "node": "Extraer texto del OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer texto del PDF": {
      "main": [
        [
          {
            "node": "Limpiar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta -> JSON deseado": {
      "main": [
        [
          {
            "node": "Validar incidencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer texto del OCR": {
      "main": [
        [
          {
            "node": "Generar JSON a partir del texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar incidencia": {
      "main": [
        [
          {
            "node": "¿Reporte válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Reporte válido?": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reporte inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields (demo)": {
      "main": [
        [
          {
            "node": "Validar incidencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "363c93cb-d6b6-440b-b364-375c5e5333fa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f9b15948ac0cabd97d7730cb7a79cef7ff8cf9c567e668e052c4eead1ee7ffb"
  },
  "id": "UPAWvT4PJcRrUvoB",
  "tags": []
}
