OpsInsight_rag.json
{
  "name": "OpsInsight_rag",
  "nodes": [
    {
      "parameters": {
        "content": "# Validación del JSON\nTODO",
        "height": 848,
        "width": 304,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        0
      ],
      "typeVersion": 1,
      "id": "476ac21d-5048-47ef-a1f3-3b5e59cf9654",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Registro de Incidencias\nCSV y MySQL",
        "height": 848,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2624,
        0
      ],
      "typeVersion": 1,
      "id": "e8373d15-3365-4fa4-93fd-29472ef4f1c5",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Análisis Documental\nJSON de incidencia + manual",
        "height": 848,
        "width": 1296,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1312,
        0
      ],
      "typeVersion": 1,
      "id": "6eb77fe8-3dbb-49cd-a765-0f37155d9cfd",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Dashboard\nTODO",
        "height": 848,
        "width": 416,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3200,
        0
      ],
      "typeVersion": 1,
      "id": "d01338c0-c455-409a-98f0-01edcd075452",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Lectura del Disco Local\nLeer el manual",
        "height": 256,
        "width": 416,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        864
      ],
      "typeVersion": 1,
      "id": "15920c8c-7573-40c3-b9f7-ac541fa36475",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "model": "qwen2.5:3b",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2272,
        448
      ],
      "id": "d737bd9e-462e-4659-bbef-d1aa0fed070f",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "U1xlVxbLPNgV0uQC",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1392,
        384
      ],
      "id": "369f33d5-4431-4073-a392-a4fc97cd6593",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1392,
        688
      ],
      "id": "9e41b81b-be17-435e-908a-68b73ce513a6",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "U1xlVxbLPNgV0uQC",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/manual_MetroPT3.md",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        128,
        944
      ],
      "id": "b5891a4e-1e22-4638-aeea-154758cdbb6e",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1552,
        528
      ],
      "id": "6565c90f-f9ca-4bbf-81a8-25a8c73f8b74",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a73a389e-9dce-4c98-a88f-e05c55fa1700",
              "name": "fecha",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "f46ef8fd-78fe-4fd3-a169-c816797d0732",
              "name": "maquina",
              "value": "={{ $json.output.split(/Datos_Maquina:/i).pop().split('\\n')[0].trim() }}",
              "type": "string"
            },
            {
              "id": "b40b8c98-f5be-4210-929b-2451971f9369",
              "name": "operario",
              "value": "={{ $json.output.split(/Datos_Operario:/i).pop().split('\\n')[0].trim() }}",
              "type": "string"
            },
            {
              "id": "6d0949aa-786d-4723-8f54-870c6660c1a4",
              "name": "descripcion",
              "value": "={{ $json.output.split(/Datos_Descripcion:/i).pop().split('\\n')[0].trim() }}",
              "type": "string"
            },
            {
              "id": "25396225-eeb2-410b-840b-b80da20267f1",
              "name": "Solution_proposed",
              "value": "={{ $json.output.replace(/\\n/g, \" \") }}",
              "type": "string"
            },
            {
              "id": "28d2e364-be52-48a4-805e-d8d906709a0d",
              "name": "presiones_tp2",
              "value": "={{ parseInt($json.output.split(/Datos_TP2:/i).pop().match(/\\d+/)?.[0] || 0) }}",
              "type": "number"
            },
            {
              "id": "4e3baf25-1a04-48d5-b5ee-7377ae518c51",
              "name": "presiones_tp3",
              "value": "={{ parseInt($json.output.split(/Datos_TP3:/i).pop().match(/\\d+/)?.[0] || 0) }}",
              "type": "number"
            },
            {
              "id": "2fc4a386-63e1-4676-acb1-ad65b785d591",
              "name": "presiones_h1",
              "value": "={{ parseInt($json.output.split(/Datos_H1:/i).pop().match(/\\d+/)?.[0] || 0) }}",
              "type": "number"
            },
            {
              "id": "35ba6c8c-6fa2-4811-ac43-b10bb7bed5f2",
              "name": "presiones_dv",
              "value": "={{ parseInt($json.output.split(/Datos_DV:/i).pop().match(/\\d+/)?.[0] || 0) }}",
              "type": "number"
            },
            {
              "id": "f55c7589-f06f-458b-aabe-e9d9d69e9678",
              "name": "presiones_r",
              "value": "={{ parseInt($json.output.split(/Datos_R:/i).pop().match(/\\d+/)?.[0] || 0) }}",
              "type": "number"
            },
            {
              "id": "aff2bdf4-2c44-4b03-826c-ca812b7080c1",
              "name": "senales_electricas_comp",
              "value": "={{ parseInt($json.output.split(/Datos_Comp:/i).pop().match(/\\d+/)?.[0] || 0) }}",
              "type": "number"
            },
            {
              "id": "eb0ec53e-65d3-4033-a274-e4e37c0b74cb",
              "name": "senales_electricas_dv_electric",
              "value": "={{ parseInt($json.output.split(/Datos_DV_Electric:/i).pop().match(/\\d+/)?.[0] || 0) }}",
              "type": "number"
            },
            {
              "id": "72a8c96c-df86-4368-a996-6713f0c0322b",
              "name": "senales_electricas_towers",
              "value": "={{ parseInt($json.output.split(/Datos_Towers:/i).pop().match(/\\d+/)?.[0] || 0) }}",
              "type": "number"
            },
            {
              "id": "919d5d03-558f-4440-acb3-c3d8a4d5e844",
              "name": "senales_electricas_mpg",
              "value": "={{ parseInt($json.output.split(/Datos_MPG:/i).pop().match(/\\d+/)?.[0] || 0) }}",
              "type": "number"
            },
            {
              "id": "a9a0e4eb-9160-4cc1-8d73-6522cc188fa8",
              "name": "senales_electricas_lps",
              "value": "={{ parseInt($json.output.split(/Datos_LPS:/i).pop().match(/\\d+/)?.[0] || 0) }}",
              "type": "number"
            },
            {
              "id": "eea4dd3c-0866-45c8-8db8-fc6b0890f284",
              "name": "senales_electricas_pressure_switch",
              "value": "={{ parseInt($json.output.split(/Datos_Pressure_Switch:/i).pop().match(/\\d+/)?.[0] || 0) }}",
              "type": "number"
            },
            {
              "id": "26824e71-01eb-420e-a70d-244054c91b43",
              "name": "senales_electricas_oil_level",
              "value": "={{ parseInt($json.output.split(/Datos_Oil_Level:/i).pop().match(/\\d+/)?.[0] || 0) }}",
              "type": "number"
            },
            {
              "id": "ced817a1-62ec-4231-b747-098e6c2359fc",
              "name": "corriente_motor",
              "value": "={{ parseInt($json.output.split(/Datos_Corriente_Motor:/i).pop().match(/\\d+/)?.[0] || 0) }}",
              "type": "number"
            },
            {
              "id": "c714eb13-d61d-4950-9cb1-89acdbb599e8",
              "name": "temperatura_aceite",
              "value": "={{ parseInt($json.output.split(/Datos_Temperatura_Aceite:/i).pop().match(/\\d+/)?.[0] || 0) }}",
              "type": "number"
            },
            {
              "id": "921fad04-0f40-4542-a947-b74cad2f8e92",
              "name": "criticidad",
              "value": "={{ (($json.output.split(/clasificación/i).pop().match(/\\b(alta|media|baja)\\b/i) || [null, 'Baja'])[1]) }}",
              "type": "string"
            },
            {
              "id": "9e417f03-39a7-403c-ad5c-a29528cb3487",
              "name": "tiempo_reparacion",
              "value": "={{ parseInt(($json.output.split(/tiempo estimado/i).pop().match(/\\d+/)?.[0]) || 0) }}",
              "type": "string"
            },
            {
              "id": "0848c31b-b283-4f62-b273-f13603aa5fc6",
              "name": "coste_estimado",
              "value": "={{ parseInt(($json.output.split(/cost(e|o) estimado/i).pop().match(/\\d+/)?.[0]) || 0) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2656,
        128
      ],
      "id": "4f208355-8d0f-45ba-a5cd-5fec2aedaca5",
      "name": "Prepare register"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2816,
        128
      ],
      "id": "a3bcd3e3-35e6-49a4-a6dd-81c3caa21d96",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/.n8n-files/historico_incidencias.csv",
        "options": {
          "append": true
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        2992,
        128
      ],
      "id": "0d1020d1-eb5e-4d3c-9f7c-6c070556b79f",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "registro_incidencias",
          "mode": "list",
          "cachedResultName": "registro_incidencias"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "fecha",
              "value": "={{ $json.fecha }}"
            },
            {
              "column": "maquina",
              "value": "={{ $json.maquina }}"
            },
            {
              "column": "descripcion",
              "value": "={{ $json.descripcion }}"
            },
            {
              "column": "solucion_propuesta",
              "value": "={{ $json.Solution_proposed }}"
            },
            {
              "column": "presion_tp2",
              "value": "={{ $json.presiones_tp2 }}"
            },
            {
              "column": "presion_tp3",
              "value": "={{ $json.presiones_tp3 }}"
            },
            {
              "column": "nivel_h1",
              "value": "={{ $json.presiones_h1 }}"
            },
            {
              "column": "criticidad",
              "value": "={{ $json.criticidad }}"
            },
            {
              "column": "operario",
              "value": "={{ $json.operario }}"
            },
            {
              "column": "tiempo_estimado",
              "value": "={{ $json.tiempo_reparacion }}"
            },
            {
              "column": "coste_estimado",
              "value": "={{ $json.coste_estimado }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2816,
        304
      ],
      "id": "4316a26b-f0d4-4e55-af36-b6ce497555d4",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "nOgIV2gI3TtPqrK6",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM registro_incidencias ORDER BY id DESC LIMIT 5;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2992,
        304
      ],
      "id": "f0948e2f-f407-47b2-9ac0-d8efe7414521",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "nOgIV2gI3TtPqrK6",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        2256,
        592
      ],
      "id": "fe0b8be2-0c02-4e13-9743-2f30184b481d",
      "name": "Simple Vector Store2"
    },
    {
      "parameters": {
        "jsCode": "// n8n guarda en una estructura interna el flujo. \n// Con esto leemos los datos del nodo que REALMENTE inició la ejecución actual de la incidencia.\nconst inputData = typeof json !== 'undefined' ? json : $input.item.json;\n\nconst fecha = inputData.fecha || new Date().toISOString();\nconst maquina = inputData.maquina || 'MetroPT3';\nconst operario = inputData.operario || 'Operario No Identificado';\nconst desc = inputData.descripcion || 'Sin descripción';\n\n// Accedemos a las variables mapeadas de forma segura y agnóstica\nconst presiones = inputData.variables?.presiones || { tp2: 0, tp3: 0, h1: 0 };\nconst temperatura = inputData.variables?.temperatura_aceite || 0;\n\n// Construimos una única cadena de texto limpia (String)\nconst consultaLimpia = `El operario ${operario} reporta una incidencia en la máquina ${maquina} el día ${fecha}. \nDescripción del problema: \"${desc}\". \nEstado de la máquina: Presión TP2 de ${presiones.tp2} bar, TP3 de ${presiones.tp3} bar, H1 de ${presiones.h1} bar. Temperatura del aceite: ${temperatura}°C. \nPor favor, busca en el manual qué significa este comportamiento o ruido extraño con estas presiones.`;\n\n// Devolvemos el texto en una propiedad llamada \"query_texto\"\nreturn {\n  query_texto: consultaLimpia\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        128
      ],
      "id": "f2d0732d-cd51-4788-9e5f-bc42d1be8f1a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "description": "Useful for when you need to answer questions about the machine operation, errors, and manual (MetroPT3). Input must be a plain text search query. ",
        "topK": 2
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        2336,
        320
      ],
      "id": "cfaad025-8821-47cf-8a6f-e384cdc77485",
      "name": "buscador_manual"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analiza esta incidencia y busca la solución en el manual: {{ $json.query_texto }}",
        "options": {
          "systemMessage": "CRITICAL TECHNICAL INSTRUCTION: Whenever you call the 'buscador_manual' tool, the 'input' MUST be a single plain text string with ONLY the main symptoms (e.g., \"ruido extraño\" or \"maquina lenta\"). \nYou are strictly FORBIDDEN from passing bar values, sensor metrics, numbers, temperatures, or JSON objects into the tool query. Extract ONLY the words describing the physical anomaly and search using text only.\n\n---\n\nEres un experto en mantenimiento industrial especializado en la Unidad de Producción de Aire (APU) MetroPT3. Tu misión es diagnosticar incidencias utilizando exclusivamente la información del manual_MetroPT3.md.\n\nInstrucciones de Razonamiento Obligatorias:\n1. Analiza el texto recibido y extrae el síntoma principal (ej: \"ruido extraño\" o \"va lenta\").\n2. Llama a la herramienta 'buscador_manual' pasando ÚNICAMENTE ese síntoma en texto plano (sin números de presión ni unidades).\n3. Busca en la información devuelta por el manual el escenario correspondiente para identificar la Criticidad, el Tiempo Estimado y las Tarifas aplicables.\n4. Si la herramienta 'buscador_manual' responde que no encuentra información o no hay datos exactos, NO te disculpes en inglés ni cambies la estructura. Por defecto, determina: Clasificación: Baja, Tiempo Estimado: 2 horas, Coste Estimado: 90 €.\n\nFormato Obligatorio de Salida:\nAl final de tu respuesta es estrictamente obligatorio incluir este bloque de texto plano. No alteres las etiquetas bajo ningún concepto para evitar errores en la base de datos:\n\nClasificación: [Alta/Media/Baja]\nTiempo Estimado: [Solo el número] horas\nCoste Estimado: [Solo el número calculado] €\nDatos_Maquina: MetroPT3\nDatos_Operario: [Nombre del operario]\nDatos_Descripcion: [Breve resumen del problema en una sola línea]\nDatos_TP2: [Solo el número de la presión TP2, o 0 si no hay]\nDatos_TP3: [Solo el número de la presión TP3, o 0 si no hay]\nDatos_H1: [Solo el número de la presión H1, o 0 si no hay]\nDatos_DV: [Solo el número de la presión DV, o 0 si no hay]\nDatos_R: [Solo el número de la presión R, o 0 si no hay]\nDatos_Comp: [Solo el número, o 0 si no hay]\nDatos_DV_Electric: [Solo el número, o 0 si no hay]\nDatos_Towers: [Solo el número, o 0 si no hay]\nDatos_MPG: [Solo el número, o 0 si no hay]\nDatos_LPS: [Solo el número, o 0 si no hay]\nDatos_Pressure_Switch: [Solo el número, o 0 si no hay]\nDatos_Oil_Level: [Solo el número, o 0 si no hay]\nDatos_Corriente_Motor: [Solo el número, o 0 si no hay]\nDatos_Temperatura_Aceite: [Solo el número de la temperatura, o 0 si no hay]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2272,
        128
      ],
      "id": "304f185b-3795-4281-90cc-15a5d8be7b37",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1552,
        688
      ],
      "id": "733cef50-a21f-4c6d-b047-708addb0500e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1664,
        384
      ],
      "id": "753566c2-1164-40bf-b1d3-e1d0c3aefebe",
      "name": "Limit"
    },
    {
      "parameters": {
        "content": "# RAG",
        "height": 512,
        "width": 512,
        "color": "#021F03"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1344,
        320
      ],
      "typeVersion": 1,
      "id": "b3ace155-247b-4ee2-9ffb-9721ce8e4ab1",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Análisis",
        "height": 656,
        "width": 528,
        "color": "#021F03"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2064,
        64
      ],
      "typeVersion": 1,
      "id": "af325396-0cca-4e4c-912a-9af644c80f64",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc1c60ba-48fd-48b9-9f6a-aed961e9d16f",
              "name": "texto_limpio",
              "value": "={{ $json.text.replace(/\\n/g, ' ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        368
      ],
      "id": "d731a6e5-2c16-461a-823c-ea9323308a3d",
      "name": "Limpiar texto",
      "notesInFlow": false
    },
    {
      "parameters": {
        "content": "# Ingesta Documental",
        "height": 848,
        "width": 1072
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        0
      ],
      "typeVersion": 1,
      "id": "6c661525-e955-4b22-aabb-54a3eb4489cd",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Formulario online",
        "height": 224,
        "width": 400,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        64
      ],
      "typeVersion": 1,
      "id": "81b36d72-51c7-46fc-b8fe-013188e8aab8",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## PDF con reporte digital\n",
        "height": 256,
        "width": 1040,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        304
      ],
      "typeVersion": 1,
      "id": "17ea59e8-30af-41ad-8a77-7a7c311df1d6",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "jsCode": "// Simplificar acceso al JSON (siempre habrá un único item)\nconst item = $input.first().json;\n\n// Función para convertir de checkboxes a booleanos\nfunction checkboxToBool(value)\n{\n  // [] => false, [\"\"] => true\n  if (Array.isArray(value))\n  {\n    return value.length > 0;\n  }\n  \n  return Boolean(value);\n}\n\n// Construir salida\nreturn {\n  \"fecha\": item[\"Fecha\"],\n  \"maquina\": item[\"Máquina problemática\"],\n  \"operario\": item[\"Nombre del operario\"],\n  \"descripcion\": item[\"Descripción del problema\"],\n\n  \"variables\": {\n    \"presiones\": {\n      \"tp2\": item[\"Presión del compresor (TP2)\"],\n      \"tp3\": item[\"Presión del panel neumático (TP3)\"],\n      \"h1\": item[\"Presión al descargar el filtro ciclónico (H1)\"],\n      \"dv\": item[\"Presión al descargar los secadores (DV)\"],\n      \"r\": item[\"Presión del depósito de aire (R)\"],\n    },\n\n    \"senales_electricas\": {\n      \"comp\": checkboxToBool(item[\"COMP\"]),\n      \"dv_electric\": checkboxToBool(item[\"DV Electric\"]),\n      \"towers\": checkboxToBool(item[\"TOWERS\"]),\n      \"mpg\": checkboxToBool(item[\"MPG\"]),\n      \"lps\": checkboxToBool(item[\"LPS\"]),\n      \"pressure_switch\": checkboxToBool(item[\"Pressure Switch\"]),\n      \"oil_level\": checkboxToBool(item[\"Oil Level\"]),\n    },\n\n    \"corriente_motor\": item[\"Corriente del motor (A)\"],\n    \"temperatura_aceite\": item[\"Temperatura del aceite (ºC)\"],\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        128
      ],
      "id": "ffaff04a-00c8-44fa-9a06-238e29898a5f",
      "name": "Encuesta -> JSON deseado1",
      "notesInFlow": false
    },
    {
      "parameters": {
        "formTitle": "Reporte de Incidencia",
        "formDescription": "Indicar las presiones en bares (bar), la corriente en amperios (A), la temperatura en grados centígrados (ºC). Para las señales eléctricas, marcar la casilla si está encendida y dejar sin marcar si está apagada.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Fecha",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Máquina problemática",
              "fieldType": "dropdown",
              "defaultValue": "MetroPT3",
              "fieldOptions": {
                "values": [
                  {
                    "option": "MetroPT3"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Nombre del operario",
              "requiredField": true
            },
            {
              "fieldLabel": "Descripción del problema",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Presión del compresor (TP2)",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Presión del panel neumático (TP3)",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Presión al descargar el filtro ciclónico (H1)",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Presión al descargar los secadores (DV)",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Presión del depósito de aire (R)",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "COMP",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            },
            {
              "fieldLabel": "DV Electric",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            },
            {
              "fieldLabel": "TOWERS",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            },
            {
              "fieldLabel": "MPG",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            },
            {
              "fieldLabel": "LPS",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            },
            {
              "fieldLabel": "Pressure Switch",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            },
            {
              "fieldLabel": "Oil Level",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            },
            {
              "fieldLabel": "Corriente del motor (A)",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Temperatura del aceite (ºC)",
              "fieldType": "number",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -32,
        128
      ],
      "id": "9ae56b18-1106-46f7-93c4-7a030c8b14f7",
      "name": "Formulario online1",
      "webhookId": "7f7b73ca-e3f5-4bd0-ba7d-32c1ff0a40ee",
      "notesInFlow": false
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "qwen2.5:3b",
          "mode": "list",
          "cachedResultName": "qwen2.5:3b"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un extractor de datos. Tu tarea es EXTRAER información del texto y devolver SOLO un JSON válido.\n\nREGLAS ESTRICTAS:\n- NO inventes información. Si un campo no aparece, deja valor vacío \"\" o -1 o false según corresponda\n- NO añadas texto explicativo ni comentarios\n- NO modifiques los nombres de los campos del JSON de ejemplo\n- NO modifiques la estructura del JSON de ejemplo\n\nEste es el JSON de ejemplo. Cambia únicamente los valores de sus campos:\n\n{\n    \"fecha\": \"\",\n    \"maquina\": \"\",\n    \"operario\": \"\",\n    \"descripcion\": \"\",\n    \"variables\":\n    {\n        \"presiones\":\n        {\n            \"tp2\": 0,\n            \"tp3\": 0,\n            \"h1\": 0,\n            \"dv\": 0,\n            \"r\": 0\n        },\n        \"senales_electricas\":\n        {\n            \"comp\": false,\n            \"dv_electric\": false,\n            \"towers\": false,\n            \"mpg\": false,\n            \"lps\": false,\n            \"pressure_switch\": false,\n            \"oil_level\": false\n        },\n        \"corriente_motor\": 0,\n        \"temperatura_aceite\": 0\n    }\n}\n\nEl texto del que debes extraer los datos es el siguiente:\n\n{{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        448,
        368
      ],
      "id": "425f1f9d-af68-483b-a4a4-726d5147e353",
      "name": "Generar JSON a partir del texto1",
      "notesInFlow": false,
      "credentials": {
        "ollamaApi": {
          "id": "U1xlVxbLPNgV0uQC",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Foto con reporte manuscrito",
        "height": 256,
        "width": 592,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        576
      ],
      "typeVersion": 1,
      "id": "43d13ecd-734e-429a-955d-548b6a870ad6",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "formTitle": "Reportar una Incidencia con un PDF",
        "formDescription": "Formulario para reportar incidencias mediante reportes digitales en formato PDF.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Archivo PDF",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .PDF",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -32,
        368
      ],
      "id": "a5684adc-6c4b-421d-95c1-0705f81685e5",
      "name": "Ingesta de PDFs",
      "webhookId": "10993c12-aae1-473d-9347-37cdb26cd2a7",
      "notesInFlow": false
    },
    {
      "parameters": {
        "formTitle": "Reportar una Incidencia con un Manuscrito",
        "formDescription": "Formulario para reportar incidencias mediante imágenes de reportes rellenados a mano.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Foto del reporte",
              "fieldType": "file",
              "acceptFileTypes": ".png, .PNG, .jpg, .JPG, .jpeg, .JPEG",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -32,
        640
      ],
      "id": "0a07e8ae-2ba1-42ce-a5ca-34945babc442",
      "name": "Ingesta de imágenes",
      "webhookId": "d24e9ba5-4367-404e-b39e-416a314594c9",
      "notesInFlow": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ocr:8000/ocr",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "Foto_del_reporte"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        128,
        640
      ],
      "id": "c2a40f77-7d2d-4341-9378-cf5515ddb1cb",
      "name": "Ejecutar OCR"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Archivo_PDF",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        128,
        368
      ],
      "id": "c501fb02-94a8-4922-b2d6-0c945b4bfbe8",
      "name": "Extraer texto del PDF"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// El LLM devuelve JSON como string dentro de \"content\"\nconst parsed = JSON.parse(item.content);\n\nreturn [\n  {\n    json: parsed\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        368
      ],
      "id": "93116ea6-2925-4f6b-bebf-02de9ce11227",
      "name": "Respuesta -> JSON deseado",
      "notesInFlow": false
    },
    {
      "parameters": {
        "jsCode": "const text = $json.text;\n\nreturn [{ json: { text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        640
      ],
      "id": "fb5cac4d-49bb-4185-8c6e-ac898f37262d",
      "name": "Extraer texto del OCR"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1840,
        128
      ],
      "id": "5ac37e38-7fa2-4f81-8344-277e96d32108",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "buscador_manual",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Simple Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Prepare register": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "buscador_manual",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscador_manual": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Prepare register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Limpiar texto": {
      "main": [
        [
          {
            "node": "Generar JSON a partir del texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formulario online1": {
      "main": [
        [
          {
            "node": "Encuesta -> JSON deseado1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar JSON a partir del texto1": {
      "main": [
        [
          {
            "node": "Respuesta -> JSON deseado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encuesta -> JSON deseado1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingesta de PDFs": {
      "main": [
        [
          {
            "node": "Extraer texto del PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingesta de imágenes": {
      "main": [
        [
          {
            "node": "Ejecutar OCR",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar OCR": {
      "main": [
        [
          {
            "node": "Extraer texto del OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer texto del PDF": {
      "main": [
        [
          {
            "node": "Limpiar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta -> JSON deseado": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer texto del OCR": {
      "main": [
        [
          {
            "node": "Generar JSON a partir del texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8822dd05-163d-4925-9b93-e5c5c16a1f59",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ebd3397630f537a39122186b36ec0f8f0da069c27a32be9cbace42da034695b"
  },
  "id": "JSuniAJZaZONx2EP",
  "tags": []
}