src/Workflow_ligero.json
{
  "name": "Workflow_ligero",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/manual_MetroPT3.md",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1488,
        144
      ],
      "id": "09a170f2-c4ff-4a39-9a9c-167161e82b36",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1696,
        144
      ],
      "id": "a19af8a7-7005-42cf-925f-bd865f267222",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n    \"fecha\": \"2026-05-18\",\n    \"maquina\": \"MetroPT3\",\n    \"operario\": \"José Miguel Torres Cámara\",\n    \"descripcion\": \"La máquina está funcionando bajo carga sin problema, pero hace un ruido extraño.\",\n    \"variables\":\n    {\n        \"presiones\":\n        {\n            \"tp2\": 12.4,\n            \"tp3\": 10.9,\n            \"h1\": 3.6,\n            \"dv\": 0.0,\n            \"r\": 11.1\n        },\n        \"senales_electricas\":\n        {\n            \"comp\": 0,\n            \"dv_electric\": 1,\n            \"towers\": 1,\n            \"mpg\": 0,\n            \"lps\": 0,\n            \"pressure_switch\": 0,\n            \"oil_level\": 0\n        },\n        \"corriente_motor\": 6.8,\n        \"temperatura_aceite\": 63\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1232,
        144
      ],
      "id": "844252e0-1880-458c-a7c8-60f363ef1a0a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Capturamos los datos que vienen del técnico\nconst fecha = $json.fecha;\nconst maquina = $json.maquina;\nconst operario = $json.operario;\nconst desc = $json.descripcion;\nconst presiones = $json.variables.presiones;\nconst temperatura = $json.variables.temperatura_aceite;\n\n// Construimos una única cadena de texto limpia (String)\nconst consultaLimpia = `El operario ${operario} reporta una incidencia en la máquina ${maquina} el día ${fecha}. \nDescripción del problema: \"${desc}\". \nEstado de la máquina: Presión TP2 de ${presiones.tp2} bar, TP3 de ${presiones.tp3} bar, H1 de ${presiones.h1} bar. Temperatura del aceite: ${temperatura}°C. \nPor favor, busca en el manual qué significa este comportamiento o ruido extraño con estas presiones.`;\n\n// Devolvemos el texto en una propiedad llamada \"query_texto\"\nreturn {\n  query_texto: consultaLimpia\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        144
      ],
      "id": "0187d137-b73c-4b80-92c8-41066d3108ab",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a73a389e-9dce-4c98-a88f-e05c55fa1700",
              "name": "fecha",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "f46ef8fd-78fe-4fd3-a169-c816797d0732",
              "name": "maquina",
              "value": "={{ $('Edit Fields').item.json.maquina }}",
              "type": "string"
            },
            {
              "id": "b40b8c98-f5be-4210-929b-2451971f9369",
              "name": "operario",
              "value": "={{ $('Edit Fields').item.json.operario }}",
              "type": "string"
            },
            {
              "id": "6d0949aa-786d-4723-8f54-870c6660c1a4",
              "name": "descripcion",
              "value": "={{ $('Edit Fields').item.json.descripcion }}",
              "type": "string"
            },
            {
              "id": "25396225-eeb2-410b-840b-b80da20267f1",
              "name": "Solution_proposed",
              "value": "={{ $json.output.replace(/\\n/g, \" \") }}",
              "type": "string"
            },
            {
              "id": "28d2e364-be52-48a4-805e-d8d906709a0d",
              "name": "presiones_tp2",
              "value": "={{ $('Edit Fields').item.json.variables.presiones.tp2 }}",
              "type": "number"
            },
            {
              "id": "4e3baf25-1a04-48d5-b5ee-7377ae518c51",
              "name": "presiones_tp3",
              "value": "={{ $('Edit Fields').item.json.variables.presiones.tp3 }}",
              "type": "number"
            },
            {
              "id": "2fc4a386-63e1-4676-acb1-ad65b785d591",
              "name": "presiones_h1",
              "value": "={{ $('Edit Fields').item.json.variables.presiones.h1 }}",
              "type": "number"
            },
            {
              "id": "35ba6c8c-6fa2-4811-ac43-b10bb7bed5f2",
              "name": "presiones_dv",
              "value": "={{ $('Edit Fields').item.json.variables.presiones.dv }}",
              "type": "number"
            },
            {
              "id": "f55c7589-f06f-458b-aabe-e9d9d69e9678",
              "name": "presiones_r",
              "value": "={{ $('Edit Fields').item.json.variables.presiones.r }}",
              "type": "number"
            },
            {
              "id": "aff2bdf4-2c44-4b03-826c-ca812b7080c1",
              "name": "senales_electricas_comp",
              "value": "={{ $('Edit Fields').item.json.variables.senales_electricas.comp }}",
              "type": "number"
            },
            {
              "id": "eb0ec53e-65d3-4033-a274-e4e37c0b74cb",
              "name": "senales_electricas_dv_electric",
              "value": "={{ $('Edit Fields').item.json.variables.senales_electricas.dv_electric }}",
              "type": "number"
            },
            {
              "id": "72a8c96c-df86-4368-a996-6713f0c0322b",
              "name": "senales_electricas_towers",
              "value": "={{ $('Edit Fields').item.json.variables.senales_electricas.towers }}",
              "type": "number"
            },
            {
              "id": "919d5d03-558f-4440-acb3-c3d8a4d5e844",
              "name": "senales_electricas_mpg",
              "value": "={{ $('Edit Fields').item.json.variables.senales_electricas.mpg }}",
              "type": "number"
            },
            {
              "id": "a9a0e4eb-9160-4cc1-8d73-6522cc188fa8",
              "name": "senales_electricas_lps",
              "value": "={{ $('Edit Fields').item.json.variables.senales_electricas.lps }}",
              "type": "number"
            },
            {
              "id": "eea4dd3c-0866-45c8-8db8-fc6b0890f284",
              "name": "senales_electricas_pressure_switch",
              "value": "={{ $('Edit Fields').item.json.variables.senales_electricas.pressure_switch }}",
              "type": "number"
            },
            {
              "id": "26824e71-01eb-420e-a70d-244054c91b43",
              "name": "senales_electricas_oil_level",
              "value": "={{ $('Edit Fields').item.json.variables.senales_electricas.oil_level }}",
              "type": "number"
            },
            {
              "id": "ced817a1-62ec-4231-b747-098e6c2359fc",
              "name": "corriente_motor",
              "value": "={{ $('Edit Fields').item.json.variables.corriente_motor }}",
              "type": "number"
            },
            {
              "id": "c714eb13-d61d-4950-9cb1-89acdbb599e8",
              "name": "temperatura_aceite",
              "value": "={{ $('Edit Fields').item.json.variables.temperatura_aceite }}",
              "type": "number"
            },
            {
              "id": "921fad04-0f40-4542-a947-b74cad2f8e92",
              "name": "criticidad",
              "value": "={{ (($json.output.split(/clasificación/i).pop().match(/\\b(alta|media|baja)\\b/i) || [null, 'Baja'])[1]) }}",
              "type": "string"
            },
            {
              "id": "9e417f03-39a7-403c-ad5c-a29528cb3487",
              "name": "tiempo_reparacion",
              "value": "={{ parseInt(($json.output.split(/tiempo estimado/i).pop().match(/\\d+/)?.[0]) || 0) }}",
              "type": "string"
            },
            {
              "id": "0848c31b-b283-4f62-b273-f13603aa5fc6",
              "name": "coste_estimado",
              "value": "={{ parseInt(($json.output.split(/cost(e|o) estimado/i).pop().match(/\\d+/)?.[0]) || 0) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        144
      ],
      "id": "74c6ffff-7119-4d8c-b9a0-0a7908812eb2",
      "name": "Prepare register1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -112,
        144
      ],
      "id": "b5556d86-3c57-4d41-b051-adccb98ec243",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/.n8n-files/historico_incidencias.csv",
        "options": {
          "append": true
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        80,
        144
      ],
      "id": "b587ad47-28db-48ea-9b29-9983426ce8ae",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "registro_incidencias",
          "mode": "list",
          "cachedResultName": "registro_incidencias"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "fecha",
              "value": "={{ $json.fecha }}"
            },
            {
              "column": "maquina",
              "value": "={{ $json.maquina }}"
            },
            {
              "column": "descripcion",
              "value": "={{ $json.descripcion }}"
            },
            {
              "column": "solucion_propuesta",
              "value": "={{ $json.Solution_proposed }}"
            },
            {
              "column": "presion_tp2",
              "value": "={{ $json.presiones_tp2 }}"
            },
            {
              "column": "presion_tp3",
              "value": "={{ $json.presiones_tp3 }}"
            },
            {
              "column": "nivel_h1",
              "value": "={{ $json.presiones_h1 }}"
            },
            {
              "column": "criticidad",
              "value": "={{ $json.criticidad }}"
            },
            {
              "column": "nivel_h1",
              "value": "={{ $json.presiones_h1 }}"
            },
            {
              "column": "solucion_propuesta",
              "value": "={{ $json.Solution_proposed }}"
            },
            {
              "column": "operario",
              "value": "={{ $json.operario }}"
            },
            {
              "column": "tiempo_estimado",
              "value": "={{ $json.tiempo_reparacion }}"
            },
            {
              "column": "coste_estimado",
              "value": "={{ $json.coste_estimado }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        80,
        320
      ],
      "id": "eb5513eb-db1d-4c13-a2df-d8b7c6ec58d1",
      "name": "Insert rows in a table1",
      "credentials": {
        "mySql": {
          "id": "3bzeFNf7VC4wHLoy",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM registro_incidencias ORDER BY id DESC LIMIT 5;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        288,
        320
      ],
      "id": "5bc9b95e-4a1b-4392-9fd5-9b1f0e68f010",
      "name": "Execute a SQL query1",
      "credentials": {
        "mySql": {
          "id": "3bzeFNf7VC4wHLoy",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analiza esta incidencia y busca la solución en el manual: {{ $json.query_texto }}",
        "options": {
          "systemMessage": "CRITICAL TECHNICAL INSTRUCTION: Whenever you call the 'buscador_manual' tool, the 'input' MUST be a single plain text string (e.g., \"ruido extraño presion tp2\"). You are strictly FORBIDDEN from passing a JSON object, braces {}, or multiple fields into the tool query. Extract the core symptom from the data and search using text only.\n\n---\n\nEres un experto en mantenimiento industrial especializado en la Unidad de Producción de Aire (APU) MetroPT3. Tu misión es diagnosticar incidencias utilizando exclusivamente la información del manual_MetroPT3.md.\n\nInstrucciones de Razonamiento:\n1. Analiza los valores de los sensores recibidos (presiones TP2, TP3, R, corriente del motor, etc.) y compáralos con las 'Condiciones de Operación Normales' del manual.\n2. Identifica si el problema coincide con algún escenario de la 'Guía de Resolución de Problemas' (usa la herramienta 'buscador_manual' para consultarlo usando solo texto).\n3. Determina la criticidad basándote en la seguridad: si hay riesgo de rotura o parada no programada, es Alta; si hay degradación, es Media; si es preventivo o leve, es Baja.\n4. Consulta la 'Matriz de Tiempos' para proponer una solución técnica y un tiempo estimado de intervención.\n\nFormato Obligatorio de Salida: Al final de todo el texto, es estrictamente obligatorio incluir estas tres líneas exactas y separadas: \nClasificación: [Alta/Media/Baja] \nTiempo Estimado: [X] horas \nCoste Estimado: [X] €"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -800,
        144
      ],
      "id": "5ab6dc9a-b6a5-4fb8-abb0-a18bfe745f2d",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -800,
        400
      ],
      "id": "bd16aacf-2f69-46f0-be38-ab2d4b9e7afc",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "mUVOkZrmRj7aVUjA",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare register1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table1": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Prepare register1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "62d7e585-c309-4b84-a0df-61284c42f4a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "81d0e876b41061c9ebff0775e6826b35446e33b815ebf1d75696e8a87d0f563d"
  },
  "id": "jcJVEi2EuBdw059d",
  "tags": []
}