src/Workflow_RAG.json
{
  "name": "Workflow_RAG",
  "nodes": [
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -784,
        416
      ],
      "id": "308dd939-d298-429b-8b36-c6a77cd5396b",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "mUVOkZrmRj7aVUjA",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -1680,
        144
      ],
      "id": "10bebd3f-076e-431a-b3f7-486124b0feca",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -1552,
        544
      ],
      "id": "eb015316-b1d5-4bc5-bfa2-79dde072679c",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "mUVOkZrmRj7aVUjA",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/manual_MetroPT3.md",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1856,
        144
      ],
      "id": "329bb0b5-d309-430b-8fea-4a002b0beb68",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -1280,
        336
      ],
      "id": "a28df380-0010-41e3-bbf1-847cdce5260b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2032,
        144
      ],
      "id": "92d213ce-6cf7-41aa-9a2d-600c193e3809",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n    \"fecha\": \"2026-05-18\",\n    \"maquina\": \"MetroPT3\",\n    \"operario\": \"José Miguel Torres Cámara\",\n    \"descripcion\": \"La máquina está funcionando bajo carga sin problema, pero hace un ruido extraño.\",\n    \"variables\":\n    {\n        \"presiones\":\n        {\n            \"tp2\": 12.4,\n            \"tp3\": 10.9,\n            \"h1\": 3.6,\n            \"dv\": 0.0,\n            \"r\": 11.1\n        },\n        \"senales_electricas\":\n        {\n            \"comp\": 0,\n            \"dv_electric\": 1,\n            \"towers\": 1,\n            \"mpg\": 0,\n            \"lps\": 0,\n            \"pressure_switch\": 0,\n            \"oil_level\": 0\n        },\n        \"corriente_motor\": 6.8,\n        \"temperatura_aceite\": 63\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1232,
        144
      ],
      "id": "e8fe36fe-a206-4e36-bdce-7b216d25acfc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a73a389e-9dce-4c98-a88f-e05c55fa1700",
              "name": "fecha",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "f46ef8fd-78fe-4fd3-a169-c816797d0732",
              "name": "maquina",
              "value": "={{ $('Edit Fields').item.json.maquina }}",
              "type": "string"
            },
            {
              "id": "b40b8c98-f5be-4210-929b-2451971f9369",
              "name": "operario",
              "value": "={{ $('Edit Fields').item.json.operario }}",
              "type": "string"
            },
            {
              "id": "6d0949aa-786d-4723-8f54-870c6660c1a4",
              "name": "descripcion",
              "value": "={{ $('Edit Fields').item.json.descripcion }}",
              "type": "string"
            },
            {
              "id": "25396225-eeb2-410b-840b-b80da20267f1",
              "name": "Solution_proposed",
              "value": "={{ $json.output.replace(/\\n/g, \" \") }}",
              "type": "string"
            },
            {
              "id": "28d2e364-be52-48a4-805e-d8d906709a0d",
              "name": "presiones_tp2",
              "value": "={{ $('Edit Fields').item.json.variables.presiones.tp2 }}",
              "type": "number"
            },
            {
              "id": "4e3baf25-1a04-48d5-b5ee-7377ae518c51",
              "name": "presiones_tp3",
              "value": "={{ $('Edit Fields').item.json.variables.presiones.tp3 }}",
              "type": "number"
            },
            {
              "id": "2fc4a386-63e1-4676-acb1-ad65b785d591",
              "name": "presiones_h1",
              "value": "={{ $('Edit Fields').item.json.variables.presiones.h1 }}",
              "type": "number"
            },
            {
              "id": "35ba6c8c-6fa2-4811-ac43-b10bb7bed5f2",
              "name": "presiones_dv",
              "value": "={{ $('Edit Fields').item.json.variables.presiones.dv }}",
              "type": "number"
            },
            {
              "id": "f55c7589-f06f-458b-aabe-e9d9d69e9678",
              "name": "presiones_r",
              "value": "={{ $('Edit Fields').item.json.variables.presiones.r }}",
              "type": "number"
            },
            {
              "id": "aff2bdf4-2c44-4b03-826c-ca812b7080c1",
              "name": "senales_electricas_comp",
              "value": "={{ $('Edit Fields').item.json.variables.senales_electricas.comp }}",
              "type": "number"
            },
            {
              "id": "eb0ec53e-65d3-4033-a274-e4e37c0b74cb",
              "name": "senales_electricas_dv_electric",
              "value": "={{ $('Edit Fields').item.json.variables.senales_electricas.dv_electric }}",
              "type": "number"
            },
            {
              "id": "72a8c96c-df86-4368-a996-6713f0c0322b",
              "name": "senales_electricas_towers",
              "value": "={{ $('Edit Fields').item.json.variables.senales_electricas.towers }}",
              "type": "number"
            },
            {
              "id": "919d5d03-558f-4440-acb3-c3d8a4d5e844",
              "name": "senales_electricas_mpg",
              "value": "={{ $('Edit Fields').item.json.variables.senales_electricas.mpg }}",
              "type": "number"
            },
            {
              "id": "a9a0e4eb-9160-4cc1-8d73-6522cc188fa8",
              "name": "senales_electricas_lps",
              "value": "={{ $('Edit Fields').item.json.variables.senales_electricas.lps }}",
              "type": "number"
            },
            {
              "id": "eea4dd3c-0866-45c8-8db8-fc6b0890f284",
              "name": "senales_electricas_pressure_switch",
              "value": "={{ $('Edit Fields').item.json.variables.senales_electricas.pressure_switch }}",
              "type": "number"
            },
            {
              "id": "26824e71-01eb-420e-a70d-244054c91b43",
              "name": "senales_electricas_oil_level",
              "value": "={{ $('Edit Fields').item.json.variables.senales_electricas.oil_level }}",
              "type": "number"
            },
            {
              "id": "ced817a1-62ec-4231-b747-098e6c2359fc",
              "name": "corriente_motor",
              "value": "={{ $('Edit Fields').item.json.variables.corriente_motor }}",
              "type": "number"
            },
            {
              "id": "c714eb13-d61d-4950-9cb1-89acdbb599e8",
              "name": "temperatura_aceite",
              "value": "={{ $('Edit Fields').item.json.variables.temperatura_aceite }}",
              "type": "number"
            },
            {
              "id": "921fad04-0f40-4542-a947-b74cad2f8e92",
              "name": "criticidad",
              "value": "={{ (($json.output.split(/clasificación/i).pop().match(/\\b(alta|media|baja)\\b/i) || [null, 'Baja'])[1]) }}",
              "type": "string"
            },
            {
              "id": "9e417f03-39a7-403c-ad5c-a29528cb3487",
              "name": "tiempo_reparacion",
              "value": "={{ parseInt(($json.output.split(/tiempo estimado/i).pop().match(/\\d+/)?.[0]) || 0) }}",
              "type": "string"
            },
            {
              "id": "0848c31b-b283-4f62-b273-f13603aa5fc6",
              "name": "coste_estimado",
              "value": "={{ parseInt(($json.output.split(/cost(e|o) estimado/i).pop().match(/\\d+/)?.[0]) || 0) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        144
      ],
      "id": "d5afbe0f-6bf2-428b-b203-0d748853b975",
      "name": "Prepare register"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -96,
        144
      ],
      "id": "1459e9d0-17b6-4315-94e9-773e4fdd92ae",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/.n8n-files/historico_incidencias.csv",
        "options": {
          "append": true
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        96,
        144
      ],
      "id": "79f0cae1-59d9-4eca-a519-3828f5219244",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "registro_incidencias",
          "mode": "list",
          "cachedResultName": "registro_incidencias"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "fecha",
              "value": "={{ $json.fecha }}"
            },
            {
              "column": "maquina",
              "value": "={{ $json.maquina }}"
            },
            {
              "column": "descripcion",
              "value": "={{ $json.descripcion }}"
            },
            {
              "column": "solucion_propuesta",
              "value": "={{ $json.Solution_proposed }}"
            },
            {
              "column": "presion_tp2",
              "value": "={{ $json.presiones_tp2 }}"
            },
            {
              "column": "presion_tp3",
              "value": "={{ $json.presiones_tp3 }}"
            },
            {
              "column": "nivel_h1",
              "value": "={{ $json.presiones_h1 }}"
            },
            {
              "column": "criticidad",
              "value": "={{ $json.criticidad }}"
            },
            {
              "column": "nivel_h1",
              "value": "={{ $json.presiones_h1 }}"
            },
            {
              "column": "solucion_propuesta",
              "value": "={{ $json.Solution_proposed }}"
            },
            {
              "column": "operario",
              "value": "={{ $json.operario }}"
            },
            {
              "column": "tiempo_estimado",
              "value": "={{ $json.tiempo_reparacion }}"
            },
            {
              "column": "coste_estimado",
              "value": "={{ $json.coste_estimado }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        96,
        320
      ],
      "id": "25ae6add-1b0b-4acb-ad8b-bc49235e1674",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "3bzeFNf7VC4wHLoy",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM registro_incidencias ORDER BY id DESC LIMIT 5;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        304,
        320
      ],
      "id": "2ccd388c-859d-4ded-9525-c324b9723550",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "3bzeFNf7VC4wHLoy",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -656,
        448
      ],
      "id": "b5b524c8-4f1b-4693-a7ad-b437fa35a808",
      "name": "Simple Vector Store2"
    },
    {
      "parameters": {
        "jsCode": "// Capturamos los datos que vienen del técnico\nconst fecha = $json.fecha;\nconst maquina = $json.maquina;\nconst operario = $json.operario;\nconst desc = $json.descripcion;\nconst presiones = $json.variables.presiones;\nconst temperatura = $json.variables.temperatura_aceite;\n\n// Construimos una única cadena de texto limpia (String)\nconst consultaLimpia = `El operario ${operario} reporta una incidencia en la máquina ${maquina} el día ${fecha}. \nDescripción del problema: \"${desc}\". \nEstado de la máquina: Presión TP2 de ${presiones.tp2} bar, TP3 de ${presiones.tp3} bar, H1 de ${presiones.h1} bar. Temperatura del aceite: ${temperatura}°C. \nPor favor, busca en el manual qué significa este comportamiento o ruido extraño con estas presiones.`;\n\n// Devolvemos el texto en una propiedad llamada \"query_texto\"\nreturn {\n  query_texto: consultaLimpia\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        144
      ],
      "id": "b821a67c-032f-4fab-a17a-2cc8f89a1f82",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "description": "Useful for when you need to answer questions about the machine operation, errors, and manual (MetroPT3). Input must be a plain text search query. ",
        "topK": 2
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -576,
        288
      ],
      "id": "740c63eb-d93d-46d1-90ab-06c36c155d90",
      "name": "buscador_manual"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analiza esta incidencia y busca la solución en el manual: {{ $json.query_texto }}",
        "options": {
          "systemMessage": "CRITICAL TECHNICAL INSTRUCTION: Whenever you call the 'buscador_manual' tool, the 'input' MUST be a single plain text string (e.g., \"ruido extraño presion tp2\"). You are strictly FORBIDDEN from passing a JSON object, braces {}, or multiple fields into the tool query. Extract the core symptom from the data and search using text only.\n\n---\n\nEres un experto en mantenimiento industrial especializado en la Unidad de Producción de Aire (APU) MetroPT3. Tu misión es diagnosticar incidencias utilizando exclusivamente la información del manual_MetroPT3.md.\n\nInstrucciones de Razonamiento:\n1. Analiza los valores de los sensores recibidos (presiones TP2, TP3, R, corriente del motor, etc.) y compáralos con las 'Condiciones de Operación Normales' del manual.\n2. Identifica si el problema coincide con algún escenario de la 'Guía de Resolución de Problemas' (usa la herramienta 'buscador_manual' para consultarlo usando solo texto).\n3. Determina la criticidad basándote en la seguridad: si hay riesgo de rotura o parada no programada, es Alta; si hay degradación, es Media; si es preventivo o leve, es Baja.\n4. Consulta la 'Matriz de Tiempos' para proponer una solución técnica y un tiempo estimado de intervención.\n\nFormato Obligatorio de Salida: Al final de todo el texto, es estrictamente obligatorio incluir estas tres líneas exactas y separadas: \nClasificación: [Alta/Media/Baja] \nTiempo Estimado: [X] horas \nCoste Estimado: [X] €"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -784,
        144
      ],
      "id": "bba5da5a-1178-4107-b90b-33db78e6426b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -1440,
        400
      ],
      "id": "9d7cc5bb-dffe-4edd-bc54-0e7a0aa4b3a4",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1392,
        144
      ],
      "id": "6ef1bf7d-d07f-46a0-bde8-ca0af2c6640b",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "buscador_manual",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        []
      ],
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Simple Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare register": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "buscador_manual",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscador_manual": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Prepare register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c4e24298-8d28-413a-99f8-6aece02a6a02",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "81d0e876b41061c9ebff0775e6826b35446e33b815ebf1d75696e8a87d0f563d"
  },
  "id": "ZMf1XCHBKRR4tCsk",
  "tags": []
}